.Card {
  display: grid;
  border: 3px solid black;
  margin: 8px;
  padding: 3px;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.4fr 2fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "Date . Votes"
    "Title Title Votes"
    "Author Comments Votes";
  justify-content: center;
  height: 20em;
  font-size: 14px;
  text-align: center;
}

.Date {
  grid-area: Date;
  border: 1px solid blue;
}
.Votes {
  grid-area: Votes;
  border: 1px solid red;
}
.Title {
  grid-area: Title;
  border: 1px solid cyan;
}
.Author {
  grid-area: Author;
  border: 1px solid green;
}
.Comments {
  grid-area: Comments;
  border: 1px solid black;
}
