.Card {
  display: grid;

  margin: 10px;
  padding-top: 12px;
  padding: 4px;
  grid-template-columns: 0.5fr 2fr 100px;
  grid-template-rows: 0.4fr 2fr 0.4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "Date Topic Votes"
    "Title Title Votes"
    "Author Comments Votes";
  justify-content: center;
  height: 180px;
  font-size: 14px;
  text-align: center;
  color: black;
  text-decoration: none;
  background: #1f2833;
  color: #45a29e;
  margin-top: 10px;
}

.Card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 25px 1px #66fcf1;
}
.articleCount {
  margin: 10px;
}
.UpVote {
  grid-area: UpVote;
  z-index: 9;
}
.DownVote {
  grid-area: DownVote;
}
.Topic {
  grid-area: Topic;
  margin: 0px;
  font-size: 1em;
  width: auto;
  height: 25px;
  display: flex;
  justify-content: center;
}
.Link {
  text-decoration: none;
}
.Date {
  grid-area: Date;
  display: flex;
  height: 25px;
  padding: 4px;

  align-items: center;
  justify-content: center;
  width: 10em;
  text-decoration: none;
  margin: 0px;
  font-size: 0.9em;
}
.Votes {
  grid-area: Votes;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Title {
  grid-area: Title;
  text-align: center;
  margin: 2vh;
  text-decoration: none;
  color: #66fcf1;
  font-size: 140%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Author {
  height: 25px;

  grid-area: Author;
}
.Comments {
  grid-area: Comments;
}
