.topicPage {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    ". TopicSearch ."
    "topicSection topicSection topicSection";
  height: 100vh;
  width: auto;
  text-decoration: none;
}
.TopicSearch {
  grid-area: TopicSearch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topicSection {
  grid-area: topicSection;
  display: flex;
  flex-direction: row;
  height: 10vh;

  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  margin: 10px;
  padding: 10px;
}
.topicCard {
  height: 160px;
  width: 10em;
  background: #1f2833;
  margin: 3px;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  color: #45a29e;
  min-width: 129px;
}
.topicCard {
  text-decoration: none;
  color: #45a29e;
}

.topicTitle {
  text-decoration: none;
  color: #66fcf1;
}
.topicDescription {
  text-decoration: none;
}
.topicLink {
  text-decoration: none;
}
