.WriteArticlePage {
  background: #1f2833;
  margin: 10px;
}
form {
  margin: 10px;
}
textarea,
select {
  width: 97%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.writeForm {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 3fr 0.5fr;
  grid-template-areas:
    "TopicSelect TitleInput TitleInput"
    "ArticleInput ArticleInput ArticleInput"
    ". submitArticle .";
  height: auto;
  margin: 10px;
  padding: 10px;
}

.TopicSelect {
  grid-area: TopicSelect;
}
.TitleInput {
  grid-area: TitleInput;
}
.ArticleInput {
  grid-area: ArticleInput;
}
.ArticleInput textarea {
  height: 500px;
}
.submitArticle {
  grid-area: submitArticle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
