.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 5fr 0.5fr;
  grid-template-areas:
    "Heading"
    "NavBar"
    "FilterBar"
    "Main"
    "Footer";
  height: 100vh;
  width: 100vw;

  font-family: "Work Sans", sans-serif;
}
:root {
  background: #334658;
  color: #66fcf1;
  width: 100vw;
  font-family: "Bonbon", cursive;
}
.eeeeeeeee {
  background: #312f2f;
  /* 312F2F
  FCF7FF
  B3B5BB
  C4CAD0
  878C8F */
}
.Heading {
  grid-area: Heading;
  background: #0b0c10;
  color: #66fcf1;
  font-family: "Work Sans", sans-serif;

  text-align: center;
}
.NavBar {
  grid-area: NavBar;

  /* Sticky not working, getting stuck inside own grid area, need work around to get outside that */
  position: sticky;
  top: 0;
  background: #1f2833;
  color: #45a29e;
  height: 2.2em;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.NavBar a {
  text-decoration: none;
  width: 100px;
  text-align: center;
  color: #45a29e;
  padding: 7px;
}
.NavBar a:hover {
  background: #2d3738;
  border-radius: 10px;
}
.Main {
  grid-area: Main;
  margin: 10px;
  padding: 10px;
  color: #950740;
}
.Footer {
  grid-area: Footer;
  background: #1a1a1d;
  border: 1px solid green;
}
.FilterBar {
  grid-area: FilterBar;
  background: #1f2833;
  color: #45a29e;
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  width: 100vw;
}
.FilterBar select {
  list-style-type: none;
  padding: 0px;
  margin: 3px;
  position: relative;
  border: 1px white;
  background: #27272b;
  color: #45a29e;
  height: 3vh;
  width: auto;
  z-index: 1;
}
