.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 5fr 0.5fr;
  grid-template-areas:
    "Heading"
    "NavBar"
    "Main"
    "Footer";
  height: 100vh;
  width: 100vw;
}

.Heading {
  grid-area: Heading;
  border: 1px solid blue;
}
.NavBar {
  grid-area: NavBar;
  border: 1px solid red;
  /* Sticky not working, getting stuck inside own grid area, need work around to get outside that */
  position: sticky;
  top: 0;
  background: olive;
  height: 65px;
}
.Main {
  grid-area: Main;
  border: 1px solid yellow;
}
.Footer {
  grid-area: Footer;
  border: 1px solid green;
}
