.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 5fr 0.5fr;
  grid-template-areas:
    "Heading"
    "NavBar"
    "FilterBar"
    "Main"
    "Footer";
  height: 100vh;
  width: 100vw;
}
:root {
  background: grey;
  color: white;
}

.Heading {
  grid-area: Heading;
  background: #312f2f;
  color: white;
  border: 1px solid blue;
  text-align: center;
}
.NavBar {
  grid-area: NavBar;
  border: 1px solid red;
  /* Sticky not working, getting stuck inside own grid area, need work around to get outside that */
  position: sticky;
  top: 0;
  background: #202829;
  color: white;
  height: 2.2em;

  display: flex;
  justify-content: space-evenly;
}
.NavBar a {
  text-decoration: none;
  width: 100px;
  text-align: center;
  color: white;
  padding: 7px;
}
.NavBar a:hover {
  background: #2d3738;
  border-radius: 10px;
}
.Main {
  grid-area: Main;
  border: 1px solid yellow;
}
.Footer {
  grid-area: Footer;
  border: 1px solid green;
}
.FilterBar {
  grid-area: FilterBar;
  border: 1px solid orangered;
  display: flex;
  justify-content: center;
}
